p{
  color: #89CFF0;
  font-size: 15pt;
}

ul{
  margin: 0 auto;
  : ;
}

ol{
  color: ;
  : ;
}

h1{
  font-family: serif;
  color: #F7D8D9;
}

header{
  : ;
  : ;
}

body{
  background-color: #344043;
  : ;
}
 
footer{
  : ;
  : ;
}
