p{
  color: #D0EDF1;
  font-size: 15pt;
}

ul{
  margin: 0 auto;
  : ;
}

ol{
  color: #a09e9d;
  : ;
}

h1{
  font-family: serif;
  color: #2C7DA0;
}

header{
  : ;
  : ;
}

body{
  background-color: #344043;
  : ;
}
 
footer{
  : ;
  : ;
}

